.avatarWrapper {
  position: relative;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
}

.dropdown a {
  font-size: 1rem;
  background-color: #f7f7f7;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown a:hover {
  background-color: #e6e6e6;
}
