.container {
  background-color: #e4ebf3;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
}

.getStartedBtn {
  transition: transform 0.2s;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  background-color: #164863;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.getStartedBtn:hover {
  transform: scale(1.05);
  background-color: #539165;
}
.getStartedBtn:active {
  transform: scale(0.95);
}
